
.mainHeading {
    font-size: 35px;
    color: #D2340C;
}

.listBlock {
    padding: 40px 0;
    margin: 40px 0
}

.testimonialsBlock {
    background-color: #D2340C;
}

.download {
    background: #D2340C;;
}

.form-section .button {
    background-color: #D2340C;;
}

.main-form-section .button {
    background-color: #D2340C;;
}
